body {
  height: 100svh;
  width: 100svw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./bg.png);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  color: #fbfbfb;
}

body > div#main-container {
  width: 100%;
  max-width: 450px;
  height: fit-content;
  padding: 1.5rem 1rem;
  background-color: #000000;
  border: 4px solid #fff;
  font-family: "Walter Turncoat", sans-serif;
  overflow: auto;
  scrollbar-width: none;
  margin: 2rem;
  border-radius: 5px;
}

#main-container > h1 {
  line-height: 0.7rem;
}

#main-container > h2 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

#artworks {
  margin-bottom: 2rem;
}

#currentArtworkImage {
  width: 100%;
  cursor: pointer;
}

#thumbnails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#plazem {
  width: 100%;
  height: 800px;
  margin-top: 2rem;
}

#plazem > iframe {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 500px) {
  body > div#main-container {
    max-width: 350px
  }
}