body {
  height: 100svh;
  width: 100svw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
  background-blend-mode: overlay;
  color: #111111;
}

body > div#main-container {
  width: 100%;
  max-width: 800px;
  height: fit-content;
  padding: 1.5rem 1rem;
  font-family: "Walter Turncoat", sans-serif;
  overflow: auto;
  scrollbar-width: none;
  border-radius: 5px;
}

#main-container > h1 {
  line-height: 0.7rem;
}

#main-container > h2 {
  color: #333;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

#artworks {
  margin-bottom: 2rem;
}

#currentArtworkImage {
  width: 100%;
  cursor: pointer;
}

#thumbnails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#plazem {
  width: 100%;
  height: 800px;
  margin-top: 2rem;
}

#plazem > iframe {
  width: 100%;
  height: 100%;
}

.buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.buttons .button {
  width: 25%;
  height: 80px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.button#me {
  background-image: url(./assets/me-bg.png);
}

.button#me:hover {
  background-image: url(./assets/me-bg-hover.png);
}

.button#art {
  background-image: url(./assets/art-bg.png);
}

.button#art:hover {
  background-image: url(./assets/art-bg-hover.png);
}

.button#games {
  background-image: url(./assets/games-bg.png);
}

.button#games:hover {
  background-image: url(./assets/games-bg-hover.png);
}

.button#music {
  background-image: url(./assets/music-bg.png);
}

.button#music:hover {
  background-image: url(./assets/music-bg-hover.png);
}

@media screen and (max-width: 500px) {
  body > div#main-container {
    max-width: 350px
  }

  .buttons .button {
    width: 100%;
  }
}